
.DS_Store
*.pyc
venv/*
.vscode/*
dist/*
tests/journal/backup/*
tests/export/*
tests/autobalance/*
tests/reformat/*
tests/journal/import/new transactions.csv
tests/journal/import/unmatched descriptions.csv
tests/i18n/fr/importation/descriptions non appariées.csv
tests/i18n/fr/importation/nouvelles transactions.csv
tests/i18n/fr/exportation/*
tests/i18n/fr/importation/contreparties non appariées.csv
tests/journal/import/unmatched payees.csv
